.scene {
  perspective: 500px;
  width: 200px;
  height: 50px;
  margin: 100px;
}
.threedbtn-container {
  transform-style: preserve-3d;
}

.face {
  border: 1px solid #2a2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.front {
  width: 200px;
  height: 100px;
  transform: translateZ(50px);
  user-select: none;
}

.back {
  width: 200px;
  height: 100px;
  transform: translateZ(-50px) rotateY(180deg);
}

.left {
  width: 100px;
  height: 100px;
  transform: translateX(-50px) rotateY(-90deg);
}

.right {
  width: 100px;
  height: 100px;
  transform: translateX(150px) rotateY(90deg);
}

.top {
  width: 200px;
  height: 100px;
  transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  width: 200px;
  height: 100px;
  transform: translateY(50px) rotateX(-90deg);
}

@keyframes wiggle {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(1, 1, 1, 10deg);
  }
}

@keyframes spin-vertical {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}

@keyframes spin-out-threedbtn {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes move-away {
  from {
    transform: translateZ(0);
  }

  to {
    transform: translateZ(-1000px);
  }
}

.threedbtn {
  position: relative;
  width: 200px;
  height: 50px;
  transform-style: preserve-3d;
  animation: wiggle 2s linear infinite alternate-reverse;
}

.threedbtn-container:hover {
  transform-style: preserve-3d;
  animation: spin-vertical 0.8s linear forwards reverse;
}

.threedbtn:active {
  transform-style: preserve-3d;
  animation: spin-out-threedbtn 0.5s linear infinite;
}

.threedbtn-container:active {
  animation: move-away 1s linear forwards;
}