:root {
  --primary: #2a2;
  --secondary: #000;
}

* { cursor: none; }

body {
  color: var(--primary);
  background-color: var(--secondary);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* Absolute positioning the body ensures that 
  the crosshair lines are positioned to thier 
  nearest ancestor element.  */
  position: absolute;
  top: 0;
  left: 0;
}